* {
  padding: 0;
  margin: 0;
}

.firstSection {
  background-color: #e3dbd8;
}

.secondSection {
  height: 40vh;
  background-color: #a6a29e;
}

.thirdSection {
  height: 40vh;
  background-color: #583629;
}

.container {
  padding-left: 5vw;
  padding-right: 5vw;
}

.middle-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&display=swap');
.fontBody {
  font-family: 'Nunito Sans', sans-serif;
}
