* {
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.middle-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&display=swap');
.fontBody {
  font-family: 'Nunito Sans', sans-serif;
}

/* My Projects Section */

.row{
 display: block;
 margin-top: 30px;
}

.col{
  display: inline-block;
  cursor: pointer;
  position: relative;  
  max-width: 32.5%;
  cursor:pointer;
  overflow:hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.text {
  left:50%;
  top:50%;
  color: white;
  font-size: 2vw;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*focus1*/
.overlay1{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(48,121,171,0.8);
  margin-right: 15px;
  margin-left: 15px;
}

.col.image1:hover .overlay1 {
  opacity: 1;
}

/*focus2*/
.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(48,121,171,0.8);
  margin-right: 15px;
  margin-left: 15px;
}

.col.image2:hover .overlay2 {
  opacity: 1;
}

/*focus3*/
.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(48,121,171,0.8);
  margin-right: 15px;
  margin-left: 15px;
}

.col.image3:hover .overlay3 {
  opacity: 1;
}

/*focus4*/
.overlay4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(48,121,171,0.8);
  margin-right: 15px;
  margin-left: 15px;
}

.col.image4:hover .overlay4 {
  opacity: 1;
}

/*focus5*/
.overlay5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(48,121,171,0.8);
  margin-right: 15px;
  margin-left: 15px;
}

.col.image5:hover .overlay5 {
  opacity: 1;
}

/*focus6*/
.overlay6 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(48,121,171,0.8);
  margin-right: 15px;
  margin-left: 15px;
}

.col.image6:hover .overlay6 {
  opacity: 1;
}








  
