* {
  margin: 0;
  padding: 0;
}
.Nav {
  display: flex;
  border-bottom: 1px white solid;
  height: 12vh;
  width: 100%;
  position: fixed;
  z-index: 2;
}
p ~ p {
  margin-inline: 4vw;
}
.Nav__logo {
  margin-top: 12px;
}
.Nav__black {
  display: flex;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 10vh;
}
